/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp N0    // K1 - P0.22
                &kp N1    // K2 - P0.24
                &kp N2    // K3 - P1.00
                &kp N3    // K4 - P0.11
                &kp N4    // K5 - P1.04
                &kp N5    // K6 - P1.06
                &kp N6    // K7 - P0.09
            >;
        };
    };
};
